.product{

    border-right: 1px rgb(0, 0, 0) solid;
}
.purchase-btn{
    font-weight: 700;
    background-color: goldenrod;
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.fa-star{
    color: goldenrod;
}
